/backup/
/Entagma/backup/
/GamePipeline/backup/
/HoudiniProjects/backup/
/HoudiniProjects/HDA/backup/
/HProgrammatic/backup/
/Terrain/backup/
/Terrain/River/backup/
/Terrain/River/HoudiniRiver 4.21/
/VEX_Study/backup/